body {
  background-color: #f8f9fa;
  font-family: 'Brandon Grotesque Light', sans-serif;
}
#toast-container > .toast {
  font-size: 24px;
  font-family: 'Brandon Grotesque Light', sans-serif;
}
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
.background-blue{
 background-color: #0e3569;
 background: radial-gradient(ellipse at bottom 20% left 50%,#055594 1%,#05508a 22%,#03294e 88%,#011933 100%);
}
.background-light-blue{
  background-color: rgb(41, 126, 171);
 }
 .background-light-grey-solid {
 background-color: #f0f0f0;
}
h1{
font-family: 'Brandon Grotesque Black', sans-serif;
font-size: 2.2rem;
}
h2{
  font-family: 'Brandon Grotesque Black', sans-serif;
  font-size: 2.6rem;
}
h3{
  font-family: 'Brandon Grotesque Black', sans-serif;
  color: #444444;
}
h5{
  font-family: 'Brandon Grotesque Light', sans-serif;
  color: #444444;
}
.detail{
  font-family: 'Brandon Grotesque Black', sans-serif;
  font-size:1.2rem;
  color: #444444;
}
.detail-info{
  font-family: 'Brandon Grotesque Light', sans-serif;
  font-size:1.2rem;
  font-weight: 500;
  color: #444444;
}
.billboard p{
  color: #fff;
  max-width: 500px;
  margin: auto;
  font-size: 1.5rem;
}
.search-label{
  font-family: 'Brandon Grotesque Black', sans-serif;
  font-size: 2.2rem;
  color: #0e3569;
}
.search-placeholder{
  font-size: 1.8rem;
  border-radius: 0.5rem;
  border-color: #c9c8c8;
}
.btn-darkBlue{
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 1.0rem 2.4rem;
  text-decoration: none;
  color: #fff;
  background-color: #0e3569;
  border-radius: 2.3rem;
  border: solid 3px transparent;
}

.btn-darkBlue:hover {
  background-color: rgb(41, 126, 171); 
  color: #fff;
}
#myform .container #myform-row #myform-column #myform-box {
  padding-top: 30px;
  border-radius: 1.1rem;
  background-color: #ffffff;
}
#myform .container #myform-row #myform-column #myform-box #myform-form {
  padding: 30px;
}
.noborder{
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
}
.text-info{
  color: #297eab !important;
}
.text-primary{
  color: #0e3569 !important;
}
.text-dark{
  color: #444444 !important;
}
.btn-primary{
  color: #fff;
  background-color: #0e3569;
  border-color: #0e3569;
}
.btn-primary:hover{
  background-color: #297eab;
}
.table-title {        
  padding-top: 15px;
  background: rgb(41, 126, 171);;
  color: #fff;
  padding: 16px 30px;
  border-radius: 3px 3px 0 0;
}
.pac-container {
  z-index: 1051 !important;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
}
.form-control::placeholder {
  color: rgb(230, 230, 230) !important;
}
.card-animal{
  border-radius: 18px;
  border: none;
  box-shadow: 0px 7px 18px 0px rgba(0,0,0,0.15);
  transition: 0.4s ease;
  cursor: pointer;
}
.card-animal:hover {
  transform: scale(1.1);
  box-shadow: 0px 7px 18px 0px rgba(0,0,0,0.15);
}

.cover{
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.cover-detail{
  object-fit: cover;
  width: 100%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
h1{
  font-size: 1.9rem;
}
.billboard img {
  width: 200px;
}
.search-label{
  font-size: 0.8rem;
}
.search-placeholder{
  font-size: 1.2rem;
}
.btn-primary{
  font-size: 0.6rem;
  padding: 0.1rem 0.2rem;
}
.search-btn{
  font-size: 0.6rem;
  padding: 0.1rem 0.2rem;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
h1{
  font-size: 3.5rem;
}
}